<!doctype html>

<!--
  Tested on and compatible with:
  - Chrome, 44.0.2403.130 (64-bit)
  - Firefox, 39.0
  - IE 11
-->

<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="src/SelecetedImages.js"></script>
  
  <script type="text/javascript">


  var SelectedImages;
  
  /**
   * callback function used by flickr service
   */
  function cb(data){
    data.items = data.items || [];
    
    if (! data.items.length) {
      alert('No images found.');
    }
    
    data.items.forEach(function(item){
      if (item.media && item.media.m) {
        addImage(item.media.m, item.title);
      }
    });
  }
  
  /**
   * Helper function that clones the template DOM object and replaces the image 
   * and links attributes to add a new image the to images container list.
   * It checks if the image was previously selected and adds the selected
   * class if necessary. 
   */
  function addImage(url, title) {
    var template = document.getElementById("template-container").children[0];
    var clone = template.cloneNode(true);
    clone.getElementsByTagName("A")[0].setAttribute("onclick", "toggleImage('"+url+"');");
    clone.getElementsByTagName("IMG")[0].setAttribute("src", url);
    clone.getElementsByTagName("IMG")[0].setAttribute("alt", title);
    if (SelectedImages.has(url)) {
      //mark container 'selected' for the heart color
      clone.className += ' selected'; 
      //mark img 'selected' as required
      clone.getElementsByTagName("IMG")[0].className = 'selected';
    }
    document.getElementById("images-container").appendChild(clone);
  }
  
  /**
   * Adds or removes the selected class to the image container and updates
   * the list of selected images in the local storage
   */
  function toggleImage(url) {
    var a_element = document.querySelector("[src='"+url+"']").parentNode;
    
    //get the div container that wraps the link and check the current class
    var class_name = a_element.parentNode.className;
    
    if (class_name.indexOf('selected') == -1) {
      a_element.parentNode.className = class_name + ' selected';
      a_element.children[0].className = 'selected';
      SelectedImages.add(url);
    }
    else {
      a_element.parentNode.className = class_name.replace(/selected/g, '');
      a_element.children[0].className = '';
      SelectedImages.remove(url);
    }
    
    return false;
  }
    
  (function(){
    
    SelectedImages = new SelectedImages();
    var tags = 'london';
    
    var script = document.createElement('script');
    
    //returns a script that calls cb(data) callback where data contains a list of images
    script.src = 'http://api.flickr.com/services/feeds/photos_public.gne?format=json&jsoncallback=cb&tags='+tags;

    document.head.appendChild(script);
  
  })();
  
  </script>
  
  <style type="text/css">
    #template-container {
        display: none;
    }
    
    .heart {
      float: right;
      margin: 10px;
    }
    
    .selected .heart{
      color: red;
    }
  </style>
  
  <title>Flickr Demo</title>

</head>

<body>

  <div id="template-container">
    <div class="image-container col-xs-12 col-md-6 col-lg-4">
      <span class="heart glyphicon glyphicon-heart"></span>
      <a href="javascript:void(0)" onclick="toggleImage('{{src}}')" class="thumbnail">
        <img src="#" alt="{{title}}">
      </a>
    </div>
  </div>
  
  <div id="images-container" class="row"></div>

</body>

</html>